.chat-selector {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-selection-button {
    background-color: var(--button-contrast);
    font-size: 0.9em;
    cursor: pointer;
    margin: 4px 2px;
    border-radius: 5px;
    box-sizing: border-box;
}

.chat-selection-button:hover {
    background-color: var(--button-contrast-hover);
}

.chat-selection-button:active {
    background-color: var(--button-contrast-active);
}

.chat-selection-button-title {
    font-weight: 800;
}

.chat-selection-button p {
    margin: 2px;
}

.match-score {
    font-weight: bold;
    color: var(--text-accent);
}

.no-match-message {
    color: var(--text-error);
    text-align: center;
    margin: 20px 0;
    font-size: 1em;
}
