.messages-container {
    width: 100%;
    height: 100%;
    padding-left: 6px;
}

.chat-message {
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.chat-message-time {
    color: var(--text-primary);
    flex-shrink: 0;
    margin-right: 8px;
    line-height: 1.4;
}

.chat-message-body {
    color: var(--text-primary);
    margin: 0;
    line-height: 1.4;
    word-wrap: break-word;
    flex: 1;
}

.commenter {
    font-weight: 700;
}

.emoticon {
    vertical-align: middle;
    display: inline-block;
    max-height: 28px;
    width: auto;
}

.modifier-wide {
    width: 112px;
    height: 28px;
    object-fit: fill;
}

.modifier-vertical {
    transform: scaleY(-1);
}

.modifier-horizontal {
    transform: scaleX(-1);
}

.modifier-zero-space {
    margin-left: -4px;
}

.badge {
    vertical-align: middle;
    display: inline-block;
    max-height: 18px;
    width: auto;
}

.chat-waiting-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.vod-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: var(--text-muted);
}

.waiting-instruction {
    font-size: 1em;
    color: var(--text-dark);
    text-align: center;
}
