.messages-container {
    width: 100%;
    height: 100%;
    padding-left: 6px;
    box-sizing: border-box;
}

.chat-waiting-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.vod-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: var(--text-secondary);
}

.waiting-instruction {
    font-size: 1em;
    color: var(--text-dark);
    text-align: center;
}
