.App {
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.App.layout-row {
    flex-direction: row;
}

.App.layout-row-reverse {
    flex-direction: row-reverse;
}

.App.layout-column {
    flex-direction: column;
}

.App.layout-column-reverse {
    flex-direction: column-reverse;
}

.chat-container {
    flex-shrink: 0;
    background-color: var(--bg-primary-alt);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}

.App.layout-row .chat-container,
.App.layout-row-reverse .chat-container {
    height: 100vh;
    width: 350px;
}

.App.layout-column .chat-container,
.App.layout-column-reverse .chat-container {
    width: 100vw;
    height: 300px;
}

.player-container {
    overflow: hidden;
    flex-grow: 100;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.App.layout-row .player-container,
.App.layout-row-reverse .player-container {
    height: 100vh;
}

.App.layout-column .player-container,
.App.layout-column-reverse .player-container {
    width: 100vw;
    height: calc(100vh - 300px);
}

.player-container iframe {
    width: 100%;
    height: 100%;
}

