.messages-container {
    width: 100%;
    height: 100%;
}

.commenter {
    font-weight: 700;
}

.chatMessage {
    color: white;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.emoticon {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.modifier-wide {
    width: 112px;
    height: 28px;
    object-fit: fill;
}

.modifier-vertical {
    transform: scaleY(-1);
}

.modifier-horizontal {
    transform: scaleX(-1);
}

.modifier-zero-space {
    margin-left: -4px;
}

.badge {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}
