.setting-item {
    display: flex;
    align-items: center;
    height: 32px;
}

.setting-label {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 60%;
}

.setting-name {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    align-content: center;
}

.setting-selector {
    width: 100%;
    height: 100%;
    border: 1px solid var(--transparent);
    align-content: center;
}

.setting-selector-glow:focus-within {
    background-color: var(--bg-primary-input-focus);
    box-shadow: 0 0 0 2px var(--shadow-accent-medium);    
    border: 1px solid var(--border-accent);
    border-radius: 4px;    
    transition: all 0.2s ease;
}
