.settings-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.settings-modal {
    background-color: var(--bg-primary-alt);
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    max-width: 425px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 4px 16px var(--shadow-dark);
}

.settings-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bg-primary);
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid var(--border-primary);
}

.settings-modal-title {
    display: flex;
    align-items: center;
    text-align: center;    
    gap: 8px;
    color: var(--icon);
}

.settings-modal-header h3 {
    margin: 0;
    font-size: 18px;
    color: var(--text-primary);    
}

.settings-modal-close {
    background: none;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.settings-modal-close:hover {
    color: var(--text-primary);
}

.settings-modal-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: space-between;
    gap: 16px;
    overflow: visible;
    min-height: 350px;
}

.settings-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 10px 20px;
    background-color: var(--bg-primary);
    border-radius: 0 0 8px 8px;
}

.settings-btn {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid;
    min-width: 75px;
}

.settings-btn-discard {
    background-color: var(--button-primary);
    color: var(--text-primary);
    border-color: var(--border-primary);
}

.settings-btn-discard:hover {
    background-color: var(--button-primary-hover);
    border-color: var(--border-primary-hover);
}

.settings-btn-discard:active {
    background-color: var(--button-primary-active);
    border-color: var(--border-primary-active);
}

.settings-btn-save {
    background-color: var(--button-accent);
    color: var(--text-primary);
    border-color: var(--border-accent);
}

.settings-btn-save:hover {
    background-color: var(--button-accent-hover);
    border-color: var(--button-accent-hover);
}

.settings-btn-save:active {
    background-color: var(--button-accent-active);
}
