.setting-item {
    display: flex;
    align-items: center;
    height: 32px;
}

.setting-label {
    display: flex;
    min-width: 50%;
}

.setting-name {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    cursor: help;
    height: 32px;
    align-content: center;
}
